<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="descritpion" content="">
	<meta name="author" content="Tartine">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/gallery.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixe-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-content">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Ciconia</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-navbar-content">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/gallery/"><span class="glyphicon glyphicon-picture"></span> Gallery</a>
					</li>
					<li>
						<a href="/login.php?logout=1"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-xs-6 form-group">
				<label for="usr">API Key</label>
				<input type="text" readonly="readonly" class="form-control" id="key" value={{ api_key }}>
			</div>
		</div>
		<hr class="separator" />
	</div>

	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/ui.js"></script>
</body>
</html>
